USE [master]
GO
/****** Object:  Database [AgroControl]    Script Date: 18.05.2026 9:51:04 ******/
CREATE DATABASE [AgroControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AgroControl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AgroControl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AgroControl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AgroControl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AgroControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AgroControl]
GO
/****** Object:  Table [dbo].[audit_events]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[event_type] [nvarchar](50) NOT NULL,
	[object_type] [nvarchar](50) NULL,
	[object_id] [bigint] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[batch_step_actual]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[batch_step_actual](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[batch_id] [bigint] NOT NULL,
	[step_order] [int] NOT NULL,
	[step_name] [nvarchar](200) NULL,
	[status] [nvarchar](20) NULL,
	[actual_value] [decimal](15, 2) NULL,
	[actual_duration_min] [int] NULL,
	[deviation_flag] [bit] NULL,
	[operator_comment] [nvarchar](max) NULL,
	[started_at] [datetime] NULL,
	[completed_at] [datetime] NULL,
	[operator_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deviations]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deviations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[batch_id] [bigint] NOT NULL,
	[step_name] [nvarchar](200) NULL,
	[parameter_name] [nvarchar](100) NULL,
	[planned_value] [nvarchar](50) NULL,
	[actual_value] [nvarchar](max) NULL,
	[severity] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipment]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipment](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[type] [nvarchar](50) NULL,
	[location] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[extruder_programs]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extruder_programs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[program_data] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[extruder_telemetry]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[extruder_telemetry](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[batch_id] [bigint] NOT NULL,
	[zone_name] [nvarchar](50) NOT NULL,
	[parameter_name] [nvarchar](50) NOT NULL,
	[actual_value] [nvarchar](50) NOT NULL,
	[planned_value] [nvarchar](50) NULL,
	[deviation_flag] [bit] NULL,
	[recorded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lab_tests]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab_tests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[test_number] [nvarchar](50) NOT NULL,
	[object_type] [nvarchar](20) NOT NULL,
	[object_id] [bigint] NOT NULL,
	[test_type] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[decision] [nvarchar](20) NULL,
	[decision_reason] [nvarchar](max) NULL,
	[tested_at] [datetime] NULL,
	[tested_by] [bigint] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_batches]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_batches](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[batch_number] [nvarchar](50) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[recipe_version_id] [bigint] NOT NULL,
	[tech_card_id] [bigint] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[actual_quantity_kg] [decimal](12, 2) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_orders]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[recipe_id] [bigint] NOT NULL,
	[planned_quantity_kg] [decimal](12, 2) NULL,
	[status] [nvarchar](20) NULL,
	[planned_start_date] [date] NULL,
	[created_at] [datetime] NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[type] [nvarchar](50) NULL,
	[form] [nvarchar](50) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_material_batches]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_material_batches](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[raw_material_id] [bigint] NOT NULL,
	[batch_number] [nvarchar](100) NOT NULL,
	[supplier_name] [nvarchar](200) NULL,
	[quantity_kg] [decimal](12, 2) NULL,
	[arrival_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[storage_location] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[raw_materials]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[raw_materials](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[category] [nvarchar](50) NULL,
	[unit] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_components]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_components](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[recipe_id] [bigint] NOT NULL,
	[raw_material_id] [bigint] NOT NULL,
	[percentage] [decimal](10, 2) NOT NULL,
	[tolerance] [decimal](10, 2) NULL,
	[load_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipes]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[version] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[approved_at] [datetime] NULL,
	[approved_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_cards]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_cards](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[recipe_id] [bigint] NULL,
	[version] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NULL,
	[is_active] [bit] NULL,
	[approved_at] [datetime] NULL,
	[approved_by] [bigint] NULL,
	[created_at] [datetime] NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tech_steps]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tech_steps](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tech_card_id] [bigint] NOT NULL,
	[step_order] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[step_type] [nvarchar](50) NULL,
	[planned_min] [decimal](15, 2) NULL,
	[planned_max] [decimal](15, 2) NULL,
	[unit] [nvarchar](20) NULL,
	[is_mandatory] [bit] NULL,
	[instruction] [nvarchar](max) NULL,
	[duration_min] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test_parameters]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test_parameters](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[test_id] [bigint] NOT NULL,
	[parameter_name] [nvarchar](100) NOT NULL,
	[measured_value] [decimal](15, 2) NULL,
	[standard_value] [nvarchar](50) NULL,
	[unit] [nvarchar](20) NULL,
	[result] [nvarchar](20) NULL,
	[analyst_comment] [nvarchar](max) NULL,
	[comment] [nvarchar](max) NULL,
	[standard_min] [decimal](15, 2) NULL,
	[standard_max] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](200) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[department] [nvarchar](100) NULL,
	[is_active] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
	[photo] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_events] ON 

INSERT [dbo].[audit_events] ([id], [event_type], [object_type], [object_id], [description], [created_at], [created_by]) VALUES (1, N'CREATE', N'production_batch', 8, N'Создана партия TEST-BATCH-001', CAST(N'2026-05-06T12:40:21.300' AS DateTime), 0)
INSERT [dbo].[audit_events] ([id], [event_type], [object_type], [object_id], [description], [created_at], [created_by]) VALUES (2, N'STATUS_CHANGE', N'production_batch', 8, N'Статус изменён с planned на approved', CAST(N'2026-05-14T14:20:19.223' AS DateTime), 52)
INSERT [dbo].[audit_events] ([id], [event_type], [object_type], [object_id], [description], [created_at], [created_by]) VALUES (3, N'STATUS_CHANGE', N'production_batch', 7, N'Статус изменён с running на approved', CAST(N'2026-05-14T14:26:29.647' AS DateTime), 52)
SET IDENTITY_INSERT [dbo].[audit_events] OFF
GO
SET IDENTITY_INSERT [dbo].[batch_step_actual] ON 

INSERT [dbo].[batch_step_actual] ([id], [batch_id], [step_order], [step_name], [status], [actual_value], [actual_duration_min], [deviation_flag], [operator_comment], [started_at], [completed_at], [operator_id]) VALUES (1, 1, 1, N'Смешивание', N'completed', CAST(44.80 AS Decimal(15, 2)), 32, 0, N'OK', NULL, CAST(N'2025-03-01T08:32:00.000' AS DateTime), NULL)
INSERT [dbo].[batch_step_actual] ([id], [batch_id], [step_order], [step_name], [status], [actual_value], [actual_duration_min], [deviation_flag], [operator_comment], [started_at], [completed_at], [operator_id]) VALUES (2, 1, 2, N'Выдержка', N'completed', CAST(59.50 AS Decimal(15, 2)), 118, 0, N'Незначительное отклонение', NULL, CAST(N'2025-03-01T10:30:00.000' AS DateTime), NULL)
INSERT [dbo].[batch_step_actual] ([id], [batch_id], [step_order], [step_name], [status], [actual_value], [actual_duration_min], [deviation_flag], [operator_comment], [started_at], [completed_at], [operator_id]) VALUES (3, 1, 3, N'Экструзия', N'completed', CAST(78.20 AS Decimal(15, 2)), 47, 1, N'Температура ниже нормы', NULL, CAST(N'2025-03-01T11:17:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[batch_step_actual] OFF
GO
SET IDENTITY_INSERT [dbo].[deviations] ON 

INSERT [dbo].[deviations] ([id], [batch_id], [step_name], [parameter_name], [planned_value], [actual_value], [severity], [status], [created_at], [created_by]) VALUES (1, 1, N'Экструзия', N'Температура', N'75-85', N'78.2', N'medium', N'open', CAST(N'2026-05-07T13:46:30.017' AS DateTime), 3)
INSERT [dbo].[deviations] ([id], [batch_id], [step_name], [parameter_name], [planned_value], [actual_value], [severity], [status], [created_at], [created_by]) VALUES (2, 1, N'Экструзия', N'Температура', N'75-85', N'78.2', N'medium', N'resolved', CAST(N'2026-05-07T13:55:51.813' AS DateTime), 3)
INSERT [dbo].[deviations] ([id], [batch_id], [step_name], [parameter_name], [planned_value], [actual_value], [severity], [status], [created_at], [created_by]) VALUES (3, 4, N'Смешивание', N'Смешивание', N'40,00-50,00', N'80', N'medium', N'open', CAST(N'2026-05-15T12:48:59.100' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[deviations] OFF
GO
SET IDENTITY_INSERT [dbo].[equipment] ON 

INSERT [dbo].[equipment] ([id], [code], [name], [type], [location]) VALUES (1, N'EQ-001', N'Экструдер EC-3000', N'Экструдер', N'Цех №1')
INSERT [dbo].[equipment] ([id], [code], [name], [type], [location]) VALUES (2, N'EQ-002', N'Смеситель SM-200', N'Смеситель', N'Цех №1')
INSERT [dbo].[equipment] ([id], [code], [name], [type], [location]) VALUES (3, N'EQ-003', N'Охлаждающая установка', N'Охлаждение', N'Цех №2')
SET IDENTITY_INSERT [dbo].[equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[extruder_programs] ON 

INSERT [dbo].[extruder_programs] ([id], [name], [description], [program_data], [created_at], [created_by]) VALUES (1, N'Стандартная программа', N'Стандартный режим для гербицидов', N'{"temperature_zone1":80,"temperature_zone2":85,"pressure":3.5,"speed":320}', CAST(N'2026-05-13T09:58:25.397' AS DateTime), NULL)
INSERT [dbo].[extruder_programs] ([id], [name], [description], [program_data], [created_at], [created_by]) VALUES (2, N'Щадящий режим', N'Для чувствительных компонентов', N'{"temperature_zone1":70,"temperature_zone2":75,"pressure":2.8,"speed":280}', CAST(N'2026-05-13T09:58:25.397' AS DateTime), NULL)
INSERT [dbo].[extruder_programs] ([id], [name], [description], [program_data], [created_at], [created_by]) VALUES (3, N'dsfsdg', N'dgdsgdsgdsg', N'', CAST(N'2026-05-13T10:24:59.170' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[extruder_programs] OFF
GO
SET IDENTITY_INSERT [dbo].[extruder_telemetry] ON 

INSERT [dbo].[extruder_telemetry] ([id], [batch_id], [zone_name], [parameter_name], [actual_value], [planned_value], [deviation_flag], [recorded_at]) VALUES (1, 1, N'Зона 1', N'Температура', N'82', N'80-85', 0, CAST(N'2026-05-13T09:58:30.150' AS DateTime))
INSERT [dbo].[extruder_telemetry] ([id], [batch_id], [zone_name], [parameter_name], [actual_value], [planned_value], [deviation_flag], [recorded_at]) VALUES (2, 1, N'Зона 2', N'Температура', N'84', N'80-85', 0, CAST(N'2026-05-13T09:58:30.150' AS DateTime))
INSERT [dbo].[extruder_telemetry] ([id], [batch_id], [zone_name], [parameter_name], [actual_value], [planned_value], [deviation_flag], [recorded_at]) VALUES (3, 1, N'Зона 1', N'Давление', N'3.4', N'3.2-3.6', 0, CAST(N'2026-05-13T09:58:30.150' AS DateTime))
SET IDENTITY_INSERT [dbo].[extruder_telemetry] OFF
GO
SET IDENTITY_INSERT [dbo].[lab_tests] ON 

INSERT [dbo].[lab_tests] ([id], [test_number], [object_type], [object_id], [test_type], [status], [decision], [decision_reason], [tested_at], [tested_by], [created_at]) VALUES (1, N'LT-001', N'product', 1, N'Контроль качества', N'completed', N'approved', NULL, CAST(N'2025-03-01T15:00:00.000' AS DateTime), 4, CAST(N'2026-05-06T12:37:47.193' AS DateTime))
INSERT [dbo].[lab_tests] ([id], [test_number], [object_type], [object_id], [test_type], [status], [decision], [decision_reason], [tested_at], [tested_by], [created_at]) VALUES (2, N'LT-002', N'product', 2, N'Контроль качества', N'completed', N'blocked', N'Низкая концентрация 96.5% (норма 97%)', CAST(N'2025-03-02T15:30:00.000' AS DateTime), 4, CAST(N'2026-05-06T12:37:47.193' AS DateTime))
INSERT [dbo].[lab_tests] ([id], [test_number], [object_type], [object_id], [test_type], [status], [decision], [decision_reason], [tested_at], [tested_by], [created_at]) VALUES (3, N'LT-003', N'product', 5, N'Контроль качества', N'completed', N'approved', NULL, CAST(N'2025-03-01T17:00:00.000' AS DateTime), 4, CAST(N'2026-05-06T12:37:47.193' AS DateTime))
SET IDENTITY_INSERT [dbo].[lab_tests] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [is_read], [created_at]) VALUES (1, 3, N'Тест', N'Проверка', 1, CAST(N'2026-05-15T13:26:03.173' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [is_read], [created_at]) VALUES (2, 3, N'Тест', N'Проверка', 1, CAST(N'2026-05-15T13:28:22.313' AS DateTime))
INSERT [dbo].[notifications] ([id], [user_id], [title], [message], [is_read], [created_at]) VALUES (3, 2, N'?? Новая проблема на производстве', N'Партия B-2404-01: Отклонение параметра - пвыпфвыпвыфп', 0, CAST(N'2026-05-15T13:36:12.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[production_batches] ON 

INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [product_id], [recipe_version_id], [tech_card_id], [start_time], [end_time], [actual_quantity_kg], [status], [created_at]) VALUES (1, N'B-2401-01', 1, 1, 1, 1, CAST(N'2025-03-01T08:00:00.000' AS DateTime), CAST(N'2025-03-01T14:30:00.000' AS DateTime), CAST(998.00 AS Decimal(12, 2)), N'running', CAST(N'2026-05-06T12:37:47.187' AS DateTime))
INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [product_id], [recipe_version_id], [tech_card_id], [start_time], [end_time], [actual_quantity_kg], [status], [created_at]) VALUES (2, N'B-2401-02', 1, 1, 1, 1, CAST(N'2025-03-02T08:15:00.000' AS DateTime), CAST(N'2025-03-02T15:00:00.000' AS DateTime), CAST(1002.00 AS Decimal(12, 2)), N'approved', CAST(N'2026-05-06T12:37:47.187' AS DateTime))
INSERT [dbo].[production_batches] ([id], [batch_number], [order_id], [product_id], [recipe_version_id], [tech_card_id], [start_time], [end_time], [actual_quantity_kg], [status], [created_at]) VALUES (3, N'B-2402-01', 2, 2, 2, 1, CAST(N'2025-03-03T09:00:00.000' AS DateTime), NULL, CAST(250.00 AS Decimal(12, 2)), N'running', CAST(N'2026-05-06T12:37:47.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[production_batches] OFF
GO
SET IDENTITY_INSERT [dbo].[production_orders] ON 

INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [created_at], [created_by]) VALUES (1, N'PO-2401', 1, CAST(1000.00 AS Decimal(12, 2)), N'completed', CAST(N'2025-03-01' AS Date), CAST(N'2026-05-06T12:37:47.177' AS DateTime), NULL)
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [created_at], [created_by]) VALUES (2, N'PO-2402', 2, CAST(500.00 AS Decimal(12, 2)), N'in_progress', CAST(N'2025-03-03' AS Date), CAST(N'2026-05-06T12:37:47.177' AS DateTime), NULL)
INSERT [dbo].[production_orders] ([id], [order_number], [recipe_id], [planned_quantity_kg], [status], [planned_start_date], [created_at], [created_by]) VALUES (3, N'PO-2403', 4, CAST(2000.00 AS Decimal(12, 2)), N'planned', CAST(N'2025-03-10' AS Date), CAST(N'2026-05-06T12:37:47.177' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[production_orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [code], [name], [type], [form], [status], [created_at], [created_by]) VALUES (1, N'PR-001-UPD', N'Гербицид А (Обновлён)', N'Гербицид', N'Концентрат', N'archived', CAST(N'2026-05-06T12:37:47.170' AS DateTime), NULL)
INSERT [dbo].[products] ([id], [code], [name], [type], [form], [status], [created_at], [created_by]) VALUES (2, N'1', N'lol', N'Регулятор роста', N'Порошок', N'archived', CAST(N'2026-05-06T12:37:47.170' AS DateTime), NULL)
INSERT [dbo].[products] ([id], [code], [name], [type], [form], [status], [created_at], [created_by]) VALUES (3, N'PR-003', N'Фунгицид В', N'Фунгицид', N'Порошок', N'active', CAST(N'2026-05-06T12:37:47.170' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[raw_material_batches] ON 

INSERT [dbo].[raw_material_batches] ([id], [raw_material_id], [batch_number], [supplier_name], [quantity_kg], [arrival_date], [status], [storage_location]) VALUES (1, 1, N'RM-2025-001', N'ООО "ХимПром"', CAST(1000.00 AS Decimal(12, 2)), CAST(N'2026-05-13' AS Date), N'approved', N'Склад А-1')
INSERT [dbo].[raw_material_batches] ([id], [raw_material_id], [batch_number], [supplier_name], [quantity_kg], [arrival_date], [status], [storage_location]) VALUES (2, 2, N'RM-2025-002', N'ЗАО "Синтез"', CAST(500.00 AS Decimal(12, 2)), CAST(N'2026-05-13' AS Date), N'approved', N'Склад А-2')
INSERT [dbo].[raw_material_batches] ([id], [raw_material_id], [batch_number], [supplier_name], [quantity_kg], [arrival_date], [status], [storage_location]) VALUES (3, 3, N'RM-2025-003', N'ООО "ХимПром"', CAST(750.00 AS Decimal(12, 2)), CAST(N'2026-05-13' AS Date), N'approved', N'Склад Б-1')
SET IDENTITY_INSERT [dbo].[raw_material_batches] OFF
GO
SET IDENTITY_INSERT [dbo].[raw_materials] ON 

INSERT [dbo].[raw_materials] ([id], [code], [name], [category], [unit], [status]) VALUES (1, N'RM-001', N'Активное вещество А', N'Действующее вещество', N'кг', N'active')
INSERT [dbo].[raw_materials] ([id], [code], [name], [category], [unit], [status]) VALUES (2, N'RM-002', N'Растворитель Б', N'Вспомогательное', N'л', N'active')
INSERT [dbo].[raw_materials] ([id], [code], [name], [category], [unit], [status]) VALUES (3, N'RM-003', N'Эмульгатор В', N'Вспомогательное', N'кг', N'active')
SET IDENTITY_INSERT [dbo].[raw_materials] OFF
GO
SET IDENTITY_INSERT [dbo].[recipe_components] ON 

INSERT [dbo].[recipe_components] ([id], [recipe_id], [raw_material_id], [percentage], [tolerance], [load_order]) VALUES (1, 4, 0, CAST(100.00 AS Decimal(10, 2)), CAST(5.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[recipe_components] OFF
GO
SET IDENTITY_INSERT [dbo].[recipes] ON 

INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [is_active], [approved_at], [approved_by], [created_at], [created_by]) VALUES (1, 1, N'1.0', N'active', 1, NULL, NULL, CAST(N'2025-01-10T09:00:00.000' AS DateTime), NULL)
INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [is_active], [approved_at], [approved_by], [created_at], [created_by]) VALUES (2, 2, N'2.0', N'active', 1, NULL, NULL, CAST(N'2025-01-12T10:30:00.000' AS DateTime), NULL)
INSERT [dbo].[recipes] ([id], [product_id], [version], [status], [is_active], [approved_at], [approved_by], [created_at], [created_by]) VALUES (3, 3, N'1.0', N'draft', 0, NULL, NULL, CAST(N'2025-01-15T14:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[recipes] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [description]) VALUES (1, N'technologist', N'Технолог')
INSERT [dbo].[roles] ([id], [name], [description]) VALUES (2, N'operator', N'Аппаратчик')
INSERT [dbo].[roles] ([id], [name], [description]) VALUES (3, N'laboratory', N'Лаборант')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[tech_cards] ON 

INSERT [dbo].[tech_cards] ([id], [product_id], [recipe_id], [version], [status], [is_active], [approved_at], [approved_by], [created_at], [created_by]) VALUES (1, 1, 1, N'1.0', N'active', 1, NULL, NULL, CAST(N'2026-05-06T12:37:47.180' AS DateTime), NULL)
INSERT [dbo].[tech_cards] ([id], [product_id], [recipe_id], [version], [status], [is_active], [approved_at], [approved_by], [created_at], [created_by]) VALUES (2, 2, NULL, N'1.0', N'active', 1, NULL, NULL, CAST(N'2026-05-06T12:40:21.300' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tech_cards] OFF
GO
SET IDENTITY_INSERT [dbo].[tech_steps] ON 

INSERT [dbo].[tech_steps] ([id], [tech_card_id], [step_order], [name], [step_type], [planned_min], [planned_max], [unit], [is_mandatory], [instruction], [duration_min]) VALUES (5, 1, 1, N'Новый шаг', N'operation', CAST(0.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), N'', 1, N'', NULL)
INSERT [dbo].[tech_steps] ([id], [tech_card_id], [step_order], [name], [step_type], [planned_min], [planned_max], [unit], [is_mandatory], [instruction], [duration_min]) VALUES (6, 1, 2, N'Новый шаг', N'operation', CAST(0.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), N'', 1, N'', NULL)
INSERT [dbo].[tech_steps] ([id], [tech_card_id], [step_order], [name], [step_type], [planned_min], [planned_max], [unit], [is_mandatory], [instruction], [duration_min]) VALUES (7, 1, 3, N'Новый шаг', N'operation', CAST(0.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), N'', 1, N'', NULL)
SET IDENTITY_INSERT [dbo].[tech_steps] OFF
GO
SET IDENTITY_INSERT [dbo].[test_parameters] ON 

INSERT [dbo].[test_parameters] ([id], [test_id], [parameter_name], [measured_value], [standard_value], [unit], [result], [analyst_comment], [comment], [standard_min], [standard_max]) VALUES (1, 1, N'концентрация', CAST(98.20 AS Decimal(15, 2)), N'97', N'%', N'pass', N'Соответствует норме', NULL, NULL, NULL)
INSERT [dbo].[test_parameters] ([id], [test_id], [parameter_name], [measured_value], [standard_value], [unit], [result], [analyst_comment], [comment], [standard_min], [standard_max]) VALUES (2, 2, N'концентрация', CAST(96.50 AS Decimal(15, 2)), N'97', N'%', N'fail', N'Низкая концентрация', NULL, NULL, NULL)
INSERT [dbo].[test_parameters] ([id], [test_id], [parameter_name], [measured_value], [standard_value], [unit], [result], [analyst_comment], [comment], [standard_min], [standard_max]) VALUES (3, 3, N'концентрация', CAST(97.30 AS Decimal(15, 2)), N'97', N'%', N'pass', N'OK', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[test_parameters] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [department], [is_active], [last_login], [created_at], [photo]) VALUES (1, N'tech.ivanov', N'hash123', N'Иванов Иван Петрович', N'technologist', N'ivan@mail.ru', N'+7-495-123-45-01', N'Технологический отдел', 1, CAST(N'2025-03-10T08:30:00.000' AS DateTime), CAST(N'2024-01-15T10:00:00.000' AS DateTime), NULL)
INSERT [dbo].[users] ([id], [username], [password_hash], [full_name], [role], [email], [phone], [department], [is_active], [last_login], [created_at], [photo]) VALUES (2, N'tech.petrova', N'hash123', N'Петрова Мария Сергеевна', N'technologist', N'maria@mail.ru', N'+7-495-123-45-02', N'Технологический отдел', 1, CAST(N'2025-03-09T16:45:00.000' AS DateTime), CAST(N'2024-02-20T11:30:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__equipmen__357D4CF9FCD11340]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[equipment] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__lab_test__D7F6F693A0D2CE97]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[lab_tests] ADD UNIQUE NONCLUSTERED 
(
	[test_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__56E37837C792FB5F]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[production_batches] ADD UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_batch_number]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[production_batches] ADD  CONSTRAINT [UQ_batch_number] UNIQUE NONCLUSTERED 
(
	[batch_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__producti__730E34DF28A7CFB3]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[production_orders] ADD UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__357D4CF993029F59]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__raw_mate__357D4CF909E456C6]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[raw_materials] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1B61199313]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5729B78DB25]    Script Date: 18.05.2026 9:51:05 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[batch_step_actual] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[batch_step_actual] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[deviations] ADD  DEFAULT ('medium') FOR [severity]
GO
ALTER TABLE [dbo].[deviations] ADD  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[deviations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[extruder_programs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[extruder_telemetry] ADD  DEFAULT ((0)) FOR [deviation_flag]
GO
ALTER TABLE [dbo].[extruder_telemetry] ADD  DEFAULT (getdate()) FOR [recorded_at]
GO
ALTER TABLE [dbo].[lab_tests] ADD  DEFAULT ('created') FOR [status]
GO
ALTER TABLE [dbo].[lab_tests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_batches] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[production_batches] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT ('planned') FOR [status]
GO
ALTER TABLE [dbo].[production_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[raw_material_batches] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[raw_materials] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[recipe_components] ADD  DEFAULT ((0)) FOR [tolerance]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[recipes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT ((0)) FOR [is_active]
GO
ALTER TABLE [dbo].[tech_cards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tech_steps] ADD  DEFAULT ((1)) FOR [is_mandatory]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[extruder_programs]  WITH CHECK ADD  CONSTRAINT [FK_extruder_programs_users] FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[extruder_programs] CHECK CONSTRAINT [FK_extruder_programs_users]
GO
ALTER TABLE [dbo].[extruder_telemetry]  WITH CHECK ADD  CONSTRAINT [FK_telemetry_batch] FOREIGN KEY([batch_id])
REFERENCES [dbo].[production_batches] ([id])
GO
ALTER TABLE [dbo].[extruder_telemetry] CHECK CONSTRAINT [FK_telemetry_batch]
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD  CONSTRAINT [FK_notifications_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[notifications] CHECK CONSTRAINT [FK_notifications_users]
GO
ALTER TABLE [dbo].[raw_material_batches]  WITH CHECK ADD  CONSTRAINT [FK_raw_batches_material] FOREIGN KEY([raw_material_id])
REFERENCES [dbo].[raw_materials] ([id])
GO
ALTER TABLE [dbo].[raw_material_batches] CHECK CONSTRAINT [FK_raw_batches_material]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_production_batch]    Script Date: 18.05.2026 9:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_create_production_batch]
    @order_id BIGINT,
    @batch_number NVARCHAR(50),
    @extruder_program NVARCHAR(MAX) = NULL,
    @user_id BIGINT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @product_id BIGINT, @recipe_version_id BIGINT, @tech_card_id BIGINT;
    DECLARE @new_batch_id BIGINT;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Валидация
        IF @order_id IS NULL OR @batch_number IS NULL
        BEGIN
            RAISERROR('order_id и batch_number обязательны для заполнения', 16, 1);
            ROLLBACK;
            RETURN;
        END;
        
        -- Проверяем существование заказа
        IF NOT EXISTS (SELECT 1 FROM production_orders WHERE id = @order_id)
        BEGIN
            RAISERROR('Заказ с id %d не найден', 16, 1, @order_id);
            ROLLBACK;
            RETURN;
        END;
        
        -- Получаем данные из заказа (в production_orders нет product_id, берем из recipes)
        SELECT TOP 1 
            @recipe_version_id = po.recipe_id,
            @product_id = r.product_id
        FROM production_orders po
        INNER JOIN recipes r ON po.recipe_id = r.id
        WHERE po.id = @order_id;
        
        -- Получаем активную техкарту
        SELECT TOP 1 @tech_card_id = id
        FROM tech_cards
        WHERE product_id = @product_id AND is_active = 1;
        
        -- Если техкарты нет, создаём дефолтную
        IF @tech_card_id IS NULL
        BEGIN
            INSERT INTO tech_cards (product_id, version, status, is_active)
            VALUES (@product_id, '1.0', 'active', 1);
            SET @tech_card_id = SCOPE_IDENTITY();
        END;
        
        -- Создаём партию
        INSERT INTO production_batches (
            batch_number, order_id, product_id, 
            recipe_version_id, tech_card_id, status, 
            created_at
        )
        VALUES (
            @batch_number, @order_id, @product_id,
            @recipe_version_id, @tech_card_id, 'planned',
            GETDATE()
        );
        
        SET @new_batch_id = SCOPE_IDENTITY();
        
        -- Создаём записи шагов из техкарты
        INSERT INTO batch_step_actual (batch_id, step_order, step_name, status)
        SELECT 
            @new_batch_id, 
            step_order, 
            name,
            'pending'
        FROM tech_steps
        WHERE tech_card_id = @tech_card_id
        ORDER BY step_order;
        
        -- Логируем аудит
        INSERT INTO audit_events (event_type, object_type, object_id, description, created_by)
        VALUES ('CREATE', 'production_batch', @new_batch_id, 
                'Создана партия ' + @batch_number, ISNULL(@user_id, 0));
        
        COMMIT TRANSACTION;
        
        SELECT @new_batch_id AS batch_id, 'Партия успешно создана' AS message;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
